@import url("https://fonts.googleapis.com/css?family=Roboto");

/*====  RESET ============================ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(0, 0%, 27%);
  font-family: Roboto;
}

header {
  text-align: center;
}

.content {
  display: flex;
  gap: 0 50px;
  margin: 0 200px;
}

.userInfoContainer {
  font-family: Roboto;
  color: hsl(0, 0%, 93%);
  margin: 1rem auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.userInfoContainer img {
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.title {
  font-family: Roboto;
  color: hsl(0, 0%, 93%);
  margin: 1rem auto;
}

.sub-title {
  font-family: Roboto;
  color: hsl(0, 0%, 93%);
  margin: 1.5rem auto;
  width: 50%;
  font-size: 1.2rem;
}

.errorText {
  color: hsl(0, 86%, 38%);
}

.formContainer {
  margin: auto;
  text-align: center;
}

.userInput {
  flex: 1;
  height: 2.625rem;
  padding: 0 1.25rem;
  background: hsl(0, 0%, 100%);
  bottom: 0;
  color: hsl(0, 0%, 27%);
  font-size: 1.3rem;
  border-radius: 5px;
}

.searchButton {
  width: auto;
  height: 2.625rem;
  padding: 0.625rem;
  margin: 0.5rem;
  background: hsl(278, 76%, 45%);
  color: hsl(0, 0%, 93%);
  border: 0;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  box-shadow: 0.19rem 0.19rem 0.625rem hsl(0, 0%, 87%);
}

.searchButton2 {
  width: 11rem;
  height: 2.625rem;
  padding: 0.625rem;
  margin: 0.5rem;
  background: hsl(278, 76%, 45%);
  color: hsl(0, 0%, 93%);
  border: 0;
  font-size: 1.25rem;
  font-weight: bold;
  border-radius: 0.25rem;
  cursor: pointer;
  box-shadow: 0.19rem 0.19rem 0.625rem hsl(0, 0%, 87%);
}

.reposListContainer {
  flex: 1;
}

.repoItemContainer {
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  background: hsl(29, 100%, 92%);
  height: auto;
  padding: 1.25rem;
  margin: 0.5rem auto;
  border-radius: 5px;
  box-shadow: 3px 3px 10px hsl(221, 64%, 54%);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.repoItemContainer > span {
  font-size: 1rem;
  font-weight: normal;
  color: hsl(0, 0%, 0%);
  margin-bottom: 0.03rem;
}

.repoItemContainer > span:first-child {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* Starred */
.starredsListContainer {
  flex: 1;
}

.starredItemContainer {
  display: flex;
  flex-direction: column;
  padding: 0.625rem;
  background: hsl(29, 100%, 92%);
  height: auto;
  padding: 1.25rem;
  margin: 0.5rem auto;
  border-radius: 5px;
  box-shadow: 3px 3px 10px hsl(34, 77%, 54%);
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}

.starredItemContainer > span {
  font-size: 1rem;
  font-weight: normal;
  color: hsl(0, 0%, 0%);
  margin-bottom: 0.03rem;
}

.starredItemContainer > span:first-child {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 8px;
}

/* SPINNER */

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 1.25rem;
  height: 1.25rem;
  margin-left: -2.5rem;
}

.lds-ellipsis div {
  position: absolute;
  top: 0.5rem;
  width: 0.6875rem;
  height: 0.6875rem;
  border-radius: 50%;
  background: hsl(0, 0%, 100%);
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}

.lds-ellipsis div:nth-child(1) {
  left: 0.375rem;
  animation: lds-ellipsis1 0.6s infinite;
}

.lds-ellipsis div:nth-child(2) {
  left: 0.375rem;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(3) {
  left: 1.625rem;
  animation: lds-ellipsis2 0.6s infinite;
}

.lds-ellipsis div:nth-child(4) {
  left: 2.8125rem;
  animation: lds-ellipsis3 0.6s infinite;
}

@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}

@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(19px, 0);
  }
}

@media screen and (max-width: 1200px) {
  .buttonsContainer {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    display: grid;
    grid-auto-flow: row;
    justify-content: space-between;
  }

  .content {
    margin: 0 100px;
  }

  .repoItemContainer {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
  }
  .repoListContainer {
    padding: 0.625rem;
    margin: auto;
  }

  .starredItemContainer {
    max-width: 1120px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
  }
  .starredListContainer {
    padding: 0.625rem;
    margin: auto;
  }

  .searchButton {
    width: 5.625rem;
  }
}

@media screen and (max-width: 767px) {
  .content {
    display: flex;
    gap: 0 20px;
    margin: 0 5%;
  }
}
